.september3oneUl{
    display: flex;
    .september3oneBox{
        width: 250px;
        margin: 10px;
        div{
            text-align: center;
            margin-bottom: 20px;
        }
        .money{
            color: red;
            font-weight: 900;
        } 
    }
}
.september3onelist{
    margin: 0 auto;
    width: 250px;
    li{
        padding: 5px;
        .one{
            color: red;
        }
        .two{
            color: orangered;
        }
        .three{
            color: orange;
        }
        .date{
            float: right;
        }
    }
}