*{
    font-family: 微软雅黑;
    margin: 0px;
    padding: 0px;
}
.september4one{
    width: 350px;
    margin: 0 auto;
    overflow: hidden;
    .list{
        display: flex;
        justify-content: space-between;
        .list-d{
            font-size: 16px;
            color: #999;
        }
    }
}
.september4one-percentage{
    padding-top: 20px;
    width: 400px;
    margin: 0 auto;
}