// .nav-list{
//     display: flex;
//     padding: 0px;
//     li{
//         list-style-type: none;
//         margin: 15px;
//         cursor:pointer;
//     }
// }
.a1{
    width: 100px;
    height: 100px;
    background: skyblue;
}
.b1{
    width: 200px;
    height: 200px;
    background: skyblue;
}
.b2{
    border: 3px solid pink;
}